package genconfig

configuration conf {
	include embox.arch.riscv.kernel.boot
	include embox.arch.riscv.kernel.arch
	include embox.arch.riscv.kernel.locore

	include embox.driver.clock.clint_timer

	include embox.kernel.no_irq
	include embox.kernel.cpu.no_bkl
	include embox.kernel.cpu.no_cpudata
	include embox.arch.no_libarch
	include embox.driver.interrupt.no_interrupts

	/* There is no interrupts, yet */
	//include embox.arch.generic.interrupt_stub
	//include embox.driver.interrupt.no_interrupts
	//include embox.kernel.no_irq

	include embox.kernel.stack(stack_size=1024)
	//include embox.mem.bitmask

	include embox.driver.serial.sifive_uart(base_addr=0x10013000,baud_rate=115200,clock_freq=32000000)
        include embox.driver.diag(impl="embox__driver__serial__sifive_uart")

	/* Tell printf() do not support floating point */
	include embox.compat.libc.stdio.print(support_floating=0)

	include embox.kernel.critical
	include embox.compat.libc.math_builtins
	include embox.kernel.spinlock(spin_debug = false)
}
