package genconfig

configuration conf {
    include embox.arch.riscv.kernel.boot
    include embox.arch.riscv.kernel.arch



    // temporary disabled irqs
    include embox.driver.interrupt.no_interrupts
    include embox.kernel.no_irq


    include embox.driver.serial.sifive_uart(base_addr=0x10013000,baud_rate=115200,clock_freq=32000000)
    include embox.driver.diag(impl="embox__driver__serial__sifive_uart")

    // copied from multiclet's config
    include embox.kernel.cpu.no_bkl
    include embox.kernel.cpu.no_cpudata
//    include embox.compat.libc.math_libm_none
    include embox.compat.libc.math_builtins
    include embox.compat.libc.stdio.print(support_floating=0)

    include embox.compat.libc.type
    include embox.compat.libc.str
    include embox.compat.libc.assert
    include embox.kernel.Kernel

//    include embox.framework.LibFramework
}

/*

	include embox.kernel.spinlock(spin_debug=false)
	include embox.kernel.stack(stack_size=0x8000)


	include embox.arch.system(core_freq=320000000)

	include embox.arch.riscv.kernel.libarch
	include embox.arch.riscv.kernel.locore
	include embox.arch.riscv.kernel.context
	include embox.arch.riscv.kernel.clock

	include embox.lib.Printk
	include embox.compat.posix.errno.errno_static
	include embox.kernel.cpu.no_bkl
	include embox.kernel.cpu.no_cpudata
	include embox.compat.libc.type
	include embox.compat.libc.str
	include embox.compat.libc.assert
	include embox.kernel.Kernel
*/



